bin/
out/
build/
eclipse/
minecraft/
gradle/
config/
logs/
asm/
mods/
resourcepacks/
saves/
.settings/
.gradle/
libs/
.classpath
.project
.DS_Store
*.db
*.bat
*.sh
*.iml
*.ipr
*.iws
*.txt
*.properties
gradlew