#eclipse
.project
.classpath
.metadata
org.*
bin

#idea
.idea
*.iml
*.ipr
*.iws
out
classes

#gradle
build
.gradle

#runtime
eclipse
run

#mac
.DS_Store
*.command

#windows
Thumbs.db

#workspace
saves
asm
logs
screenshots
mods
libs

*.txt
/server.properties
*.dat
*.psd