#- Used for custom surface rules
public net.minecraft.world.level.levelgen.SurfaceRules$Condition
public net.minecraft.world.level.levelgen.SurfaceRules$LazyYCondition
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.SurfaceRules$Context context
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockX
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockY
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockZ

# Custom Trunk Placers
public net.minecraft.world.level.levelgen.feature.trunkplacers.TrunkPlacer baseHeight
public net.minecraft.world.level.levelgen.feature.trunkplacers.TrunkPlacer heightRandA
public net.minecraft.world.level.levelgen.feature.trunkplacers.TrunkPlacer heightRandB

public net.minecraft.world.level.levelgen.NoiseRouterData SHIFT_X
public net.minecraft.world.level.levelgen.NoiseRouterData Y
public net.minecraft.world.level.levelgen.NoiseRouterData SHIFT_Z
public net.minecraft.world.level.levelgen.NoiseRouterData BASE_3D_NOISE_NETHER
public net.minecraft.world.level.levelgen.NoiseRouterData BASE_3D_NOISE_OVERWORLD
public net.minecraft.world.level.levelgen.NoiseRouterData yLimitedInterpolatable(Lnet.minecraft.world.level.levelgen.DensityFunction;Lnet.minecraft.world.level.levelgen.DensityFunction;III)Lnet.minecraft.world.level.levelgen.DensityFunction;

# Nether Portal
public net.minecraft.world.level.block.NetherPortalBlock getDimensionTransitionFromExit(Lnet/minecraft/world/entity/Entity;Lnet/minecraft/core/BlockPos;Lnet/minecraft/BlockUtil$FoundRectangle;Lnet/minecraft/server/level/ServerLevel;Lnet/minecraft/world/level/portal/DimensionTransition$PostDimensionTransition;)Lnet/minecraft/world/level/portal/DimensionTransition;